# VS
.vs/

# User specific files
*.user

# Temp/Output build results
**/.obj/
**/.moc/
**/.qrc/
**/.ui/
cache
artifacts/

# General output
*.pdb
*.prl
*.ilk
*.exp
*.rc

# OS detritus
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Doxygen
documentation

# Clang Format
*.TMP